@import bower_components/eskimo/variables
@import bower_components/compass-mixins/lib/compass
@import bower_components/eskimo/mixins/all
@import bower_components/eskimo/reset/all

html, body
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size:   14px
  line-height: (20 / 14)
  font-weight: 400
  color:       #383838
  background:  #F5F7FA

  // These are recommended by Lato author
  +font-smoothing(subpixel-antialiased)
  text-rendering: optimizeLegibility

body
  overflow-y: scroll

a
  color:           #439cd7
  text-decoration: none
  +transition(color 0.2s ease)
  &:hover
    text-decoration: underline

.hide
  display: none !important

.text
  &-nowrap
    +nowrap

.search
  &-wrapper
    max-width: 700px
    margin:    0 auto
    padding:   20px
  &-title
    font-size:   30px
    line-height: 1.1
  &-slogan
    font-size: 18px
    font-weight: 300
  &-header
    margin-bottom: 30px
  &-phrase
    &
      position: relative
    &-input
      +normalize-input
      display:    block
      background: $white
      width:      100%
      padding:    10px
      font-size:  16px
      border:     1px solid #d5d5d5
      +transition(border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, background ease-in-out 0.15s)

      +input-placeholder
        opacity: 0.5

      &:hover
        background: #f7f7f7

      &:focus
        background:   $white
        border-color: #439cd7
        +box-shadow(0 0 0 3px transparentize(#439cd7, 0.6))
    &-button
      +normalize-button
      display:  block
      position: absolute
      top:      0
      right:    0
      bottom:   0
      height:   100%
      width:    44px
      &-magnifier
        &
          vertical-align: text-bottom
        path
          fill: #d5d5d5
          @at-root .search-phrase-button:hover &
            fill: #439cd7
  &-results
    margin-top: 30px
    &-separator
      margin: 15px 0
      border-color: #d5d5d5
    &-count
      font-weight: 600
      font-size:   15px
      margin-top:  4px
  &-loading-indicator
    height:     300px
    height:     65vh
    background: svg-data-url('search/loading-dots.svg') no-repeat center center
  &-network-error, &-server-error
    margin-top:  150px
    margin-top:  30vh
    font-size:   20px
    font-weight: 600
    color:       #DA4453

.gsmarena-handhelds-result
  &-inner
    height:   130px
    position: relative
  &-left
    position: absolute
    left:     0
    top:      0
    bottom:   0
    width:    100px
  &-right
    width: auto
    +calc(width, '100% - 110px')
    margin-left: 110px
    position:    relative
    height:      100%
  &-image
    // Since we don't know dimensions.
    max-width:  100%
    max-height: 100%
  &-name
    font-size: 16px
  &-actions
    position: absolute
    left:     0
    bottom:   0
    &-button
      +normalize-button
  &-source
    color:       inherit
    font-weight: 700
  &-details
    margin-top: 10px
  &-specs
    &
      width: 100%
    & + &
      margin-top: 10px
    &-title
      text-align:     left
      text-transform: uppercase
      font-size:      16px
    &-name
      width: 100px
    &-title, &-name, &-value
      vertical-align: top
      padding:        0 4px
      border:         1px solid #d5d5d5


