@import bower_components/eskimo/variables
@import bower_components/compass-mixins/lib/compass
@import bower_components/eskimo/mixins/all
@import bower_components/eskimo/reset/all

html, body
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size:   14px
  line-height: (20 / 14)
  font-weight: 400
  background:  #F5F7FA

  // These are recommended by Lato author
  +font-smoothing(subpixel-antialiased)
  text-rendering: optimizeLegibility

body
  overflow-y: scroll
